@import '../variables.css';

.durationSeciton {
  display: flex;
}

.dateSelectorContainer {
  margin-right: var(--default-space);
  position: relative;
}

.label {
  font-size: var(--font-size-label);
  color: var(--gray-label);
}

.datePicker {
  position: absolute;
  bottom: 0;
}
